---
import Heading from "@core-elements/heading/Heading.astro";
import Icon from "@core-elements/icon/Icon.astro";
import Text from "@core-elements/text/Text.astro";

const {
  title = "",
  status = "",
  link = "",
  description = "",
  number = "",
  iconName = "",
  iconColor = "default",
  iconBackground = true,
  class: className,
  useDefaultEditableBinding: _useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<a
  class="project-list-item"
  href="{link}"
  {...htmlAttributes}
>
  <div class:list={["project-item", className]}>
    <div class="project-item__number">
      <span data-prop="number">{number}</span>
    </div>
    <div class="project-item__details">
      <div>
          <Heading
          class="project-title"
          level="h3"
          size="md"
          alignX="start"
          data-prop="title"
        >
          {title}
        </Heading>

        <div class="project-item__status">{status}</div>
      </div>
      <Text
        class="project-description"
        alignX="start"
        data-prop="description"
        text={description}
      />
    </div>
  </div>
</a>

<style>
  @layer page-sections {
    :global(.project-title) {
      margin-bottom: var(--spacing-sm);
      margin-top: var(--spacing-sm);
    }

    :global(.project-description) {
      margin-top: 0;
    }

    .project-list-item {
      display: block;
      text-decoration: none;
    }

    .project-item {
      display: flex;
      color: var(--gray-12);
    }

    .project-item__number {
      display: flex;
      flex-shrink: 0;
      width: 120px;
      border-right: solid 2px var(--color-border);
      text-align: center;
      font-size: 16px;

      span {
        margin: auto;
      }
    }

    .project-item__details {
      padding: 16px;
    }
  }
</style>
