---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import SimpleText from "@core-elements/simple-text/SimpleText.astro";
import Text from "@core-elements/text/Text.astro";
import ProjectItem from "@projects/project-list/ProjectItem.astro";
import Grid from "@wrappers/grid/Grid.astro";

type ProjectProps = Record<string, unknown>;

const {
  eyebrow = "",
  heading = "",
  subtext = "",
  features = [],
  colorScheme = "inherit",
  backgroundColor,
  paddingVertical = "4xl",
  class: className,
  useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["project-list", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical={paddingVertical}
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  useDefaultEditableBinding={useDefaultEditableBinding}
  {...htmlAttributes}
>
  <SimpleText
    class="eyebrow"
    data-prop="eyebrow"
    text={eyebrow}
  />
  <Heading
    level="h2"
    size="lg"
    data-prop="heading"
  >
    {heading}
  </Heading>
  <Text
    class="project-list-subtext"
    data-prop="subtext"
    text={subtext}
  />
  
  <div class="project-list__layout">
    <div class="project-list__items">
      {
        projects.map((feature: ProjectProps) => (
          <ProjectItem
            data-id="page-sections/projects/project-list/project-item"
            data-editable="array-item"
            {...feature}
          />
        ))
      }
    </div>

    <div class="project-list__preview">

    </div>
  </div>

</CustomSection>

<style>
  @layer page-sections {
    :global(.project-list-grid) {
      margin-top: var(--spacing-2xl);
    }
  }

  .project-list {
    border-top: solid 2px var(--color-border);
    border-bottom: solid 2px var(--color-border);
  }

  .project-list__layout {
    display: flex;
  }

  .project-list__items {
    flex: 1;
    border: solid 2px var(--color-border);
  }

  .project-list__preview {
    flex: 2;
    border: solid 2px var(--color-border);
    border-left: 0;
  }



  .project-list-item {
    border-bottom: solid 2px var(--color-border);

    &:last-of-type {
      border-bottom: 0;
    }
  }
</style>
